$color-1: var(--color-1);
$color-2: var(--color-2);
$color-3: var(--color-3);
$color-4: var(--color-4);
$color-5: var(--color-5);
$color-6: var(--color-6);

$color-dark: var(--color-dark);
$color-light: var(--color-light);
$color-contrast: var(--color-contrast);

$font: "Montserrat";
$text-shadow-1: 4px 4px 4px rgba(0,0,0,.3);
$box-shadow-1: 0 0 20px rgba(0,0,0,.3);
$border-default: 8px;
$default-transition: 0.3s;